.block {
  border: 1px solid red;
  width: 70px;
  height: 70px;
  background: black;
  color: white;
  display: inline-block;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  line-height: 70px;
}

.root {
  width: 300px;
}

.start-game {
  cursor: pointer;
  border: 1px solid lightgreen;
  padding: 10px 5px;
  margin-top: 15px;
  text-align: center;
  width: 150px;
  font-size: 18px;
  background: yellow;
  color: red;
}

.step-counter {
  margin-top: 15px;
  font-size: 18px; 
}

.success {
  color: green;
  font-size: 25px;
  font-style: italic;
  margin-top: 20px;
  font-weight: bolder;
}